

img {
  height: 5rem;
  width: 5rem;
  padding: 0.2rem;
}


.tierRank{
  color: black;
  display: inline-block;
  font-size: 50px;
}

.dropzone{
  height: 5.5rem;
  padding: 0.2rem;
  display: flex;
  gap: 0.2rem;
  border: solid black;

}

img{
  display: block;
  border: solid black;
  border-radius: 20px;

}